.git
*.o
*.a
*.so
*.d
*.cmd
busybox
busybox_unstripped*
include/config
include/applet_tables.h
include/bbconfigopts.h
include/common_bufsiz.h
include/embedded_scripts.h
include/NUM_APPLETS.h
include/usage.h
include/usage_compressed.h
applets/applets.o
applets/built-in.o
*/built-in.o
_install
.tmp_versions
.config.old
